@font-face {
	font-family: 'Geometria Narrow';
	src: url('Geometria-NarrowLight.eot');
	src: local('Geometria Narrow Light'), local('Geometria-NarrowLight'),
		url('Geometria-NarrowLight.eot?#iefix') format('embedded-opentype'),
		url('Geometria-NarrowLight.woff2') format('woff2'),
		url('Geometria-NarrowLight.woff') format('woff'),
		url('Geometria-NarrowLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Narrow';
	src: url('Geometria-Narrow.eot');
	src: local('Geometria Narrow'), local('Geometria-Narrow'),
		url('Geometria-Narrow.eot?#iefix') format('embedded-opentype'),
		url('Geometria-Narrow.woff2') format('woff2'),
		url('Geometria-Narrow.woff') format('woff'),
		url('Geometria-Narrow.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Narrow';
	src: url('Geometria-NarrowMedium.eot');
	src: local('Geometria Narrow Medium'), local('Geometria-NarrowMedium'),
		url('Geometria-NarrowMedium.eot?#iefix') format('embedded-opentype'),
		url('Geometria-NarrowMedium.woff2') format('woff2'),
		url('Geometria-NarrowMedium.woff') format('woff'),
		url('Geometria-NarrowMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Narrow';
	src: url('Geometria-NarrowBold.eot');
	src: local('Geometria Narrow Bold'), local('Geometria-NarrowBold'),
		url('Geometria-NarrowBold.eot?#iefix') format('embedded-opentype'),
		url('Geometria-NarrowBold.woff2') format('woff2'),
		url('Geometria-NarrowBold.woff') format('woff'),
		url('Geometria-NarrowBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
